.movie-card {
  background: #222222;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 364px;
}

.movie-card__trailer-link {
  display: flex;
  text-decoration: none;
}
.movie-card__image {
  width: 100%;
  object-fit: cover;
}

.movie-card__desc {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 17px;
}


.movie-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
  padding: 0 16px 16px;
}

.movie-card__btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity 0.25s;
}
.movie-card__btn:hover {
  opacity: 0.7;
}

.movie-card__btn_saved {
  background: url('../../images/red-heart.svg') no-repeat center;
}

.movie-card__btn_remove {
  background: url('../../images/remove-icon.svg') no-repeat center;
  visibility: hidden;

}

.movie-card:hover .movie-card__btn_remove {
  visibility: visible;
}

.movie-card__btn_save {
  background: url('../../images/heart-icon.svg') no-repeat center;
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 339px;
  }


  .movie-card__desc {
    padding: 14px 14px 15px;
  }

  .movie-card__duration {
    padding: 0 14px 14px;
  }
}

@media screen and (max-width: 480px) {
  .movie-card {
    width: 300px;
  }

  .movie-card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie-card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}