.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0 0 30px;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
  padding: 20px 0 19px;
}

.portfolio__item:last-child {
  border-bottom: none;
  padding: 20px 0 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__item {
    border-bottom: 1px solid #E6E6E6;
  }
    
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    line-height: 28px;
  }
}